USE [master]
GO
/****** Object:  Database [TPV]    Script Date: 11/10/2017 12:31:25 AM ******/
CREATE DATABASE [TPV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TPV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TPV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TPV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TPV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TPV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TPV]
GO
USE [TPV]
GO
/****** Object:  Table [dbo].[TPV.tblPRODUCTOS]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPV.tblPRODUCTOS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion_Corta] [varchar](100) NULL,
	[Descripcion_Larga] [varchar](500) NULL,
	[idCategoria] [int] NULL,
	[Precio] [decimal](10, 2) NULL,
	[idPresentacion] [int] NOT NULL,
	[Cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TPV.tblPRESENTACION]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPV.tblPRESENTACION](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TPV.tblCATEGORIA]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPV.tblCATEGORIA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Productos]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Productos] AS
SELECT        dbo.[TPV.tblPRODUCTOS].id, dbo.[TPV.tblPRODUCTOS].SKU, dbo.[TPV.tblPRODUCTOS].Nombre, dbo.[TPV.tblPRODUCTOS].Descripcion_Corta, dbo.[TPV.tblPRODUCTOS].Descripcion_Larga, dbo.[TPV.tblPRODUCTOS].Precio, 
                         dbo.[TPV.tblPRODUCTOS].Cantidad, dbo.[TPV.tblPRESENTACION].nombre AS Expr1, dbo.[TPV.tblCATEGORIA].nombre AS Expr2
FROM            dbo.[TPV.tblCATEGORIA] INNER JOIN
                         dbo.[TPV.tblPRODUCTOS] ON dbo.[TPV.tblCATEGORIA].id = dbo.[TPV.tblPRODUCTOS].idCategoria INNER JOIN
                         dbo.[TPV.tblPRESENTACION] ON dbo.[TPV.tblPRODUCTOS].idPresentacion = dbo.[TPV.tblPRESENTACION].id
GO
/****** Object:  Table [dbo].[TPV.tblLOGIN]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPV.tblLOGIN](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [varchar](50) NULL,
	[UsuarioPass] [varchar](50) NULL,
	[NivelAcceso] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TPV.tblUSUARIOS]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPV.tblUSUARIOS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[pnombre] [varchar](50) NOT NULL,
	[snombre] [varchar](50) NULL,
	[papellido] [varchar](50) NOT NULL,
	[sapellido] [varchar](50) NULL,
	[direccion1] [varchar](100) NOT NULL,
	[direccion2] [varchar](100) NOT NULL,
	[municipio] [varchar](50) NOT NULL,
	[ciudad] [varchar](50) NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[codigo_postal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Usuarios]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Usuarios] AS
SELECT        dbo.[TPV.tblLOGIN].id AS Expr1, dbo.[TPV.tblLOGIN].UsuarioID, dbo.[TPV.tblLOGIN].UsuarioPass, dbo.[TPV.tblLOGIN].NivelAcceso, dbo.[TPV.tblUSUARIOS].pnombre, dbo.[TPV.tblUSUARIOS].snombre, 
                         dbo.[TPV.tblUSUARIOS].papellido, dbo.[TPV.tblUSUARIOS].sapellido, dbo.[TPV.tblUSUARIOS].direccion1, dbo.[TPV.tblUSUARIOS].direccion2, dbo.[TPV.tblUSUARIOS].ciudad, dbo.[TPV.tblUSUARIOS].municipio, 
                         dbo.[TPV.tblUSUARIOS].estado, dbo.[TPV.tblUSUARIOS].codigo_postal
FROM            dbo.[TPV.tblLOGIN] INNER JOIN
                         dbo.[TPV.tblUSUARIOS] ON dbo.[TPV.tblLOGIN].id = dbo.[TPV.tblUSUARIOS].idUsuario
GO
/****** Object:  Table [dbo].[TPV.tblVENTAS]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPV.tblVENTAS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TPV.tblVENTAS_DETALLES]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPV.tblVENTAS_DETALLES](
	[id] [int] NULL,
	[fecha] [datetime] NULL,
	[productoId] [int] NULL,
	[presentacionId] [int] NULL,
	[cantidad] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Ventas]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Ventas] AS
SELECT        dbo.[TPV.tblVENTAS].id AS 'ID Venta', dbo.[TPV.tblUSUARIOS].pnombre AS Nombre, dbo.[TPV.tblUSUARIOS].papellido AS Apellido, dbo.[TPV.tblVENTAS].fecha AS Fecha, dbo.[TPV.tblPRODUCTOS].Nombre AS Producto, 
                         dbo.[TPV.tblPRESENTACION].nombre AS Presentación, dbo.[TPV.tblVENTAS_DETALLES].cantidad AS Cantidad
FROM            dbo.[TPV.tblVENTAS] INNER JOIN
                         dbo.[TPV.tblVENTAS_DETALLES] ON dbo.[TPV.tblVENTAS].id = dbo.[TPV.tblVENTAS_DETALLES].id INNER JOIN
                         dbo.[TPV.tblPRESENTACION] ON dbo.[TPV.tblVENTAS_DETALLES].presentacionId = dbo.[TPV.tblPRESENTACION].id INNER JOIN
                         dbo.[TPV.tblPRODUCTOS] ON dbo.[TPV.tblVENTAS_DETALLES].productoId = dbo.[TPV.tblPRODUCTOS].id AND dbo.[TPV.tblPRESENTACION].id = dbo.[TPV.tblPRODUCTOS].idPresentacion INNER JOIN
                         dbo.[TPV.tblUSUARIOS] ON dbo.[TPV.tblVENTAS].idUsuario = dbo.[TPV.tblUSUARIOS].id
GO
/****** Object:  Table [dbo].[TPV.tblCARRITO]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPV.tblCARRITO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Creado] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TPV.tblCARRITO_DETALLES]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPV.tblCARRITO_DETALLES](
	[id] [int] NULL,
	[ProdId] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TPV.tblCARRITO_DETALLES]  WITH CHECK ADD  CONSTRAINT [tblCARRITO_tblCARRITO_DETALLES_ID_FK] FOREIGN KEY([id])
REFERENCES [dbo].[TPV.tblCARRITO] ([id])
GO
ALTER TABLE [dbo].[TPV.tblCARRITO_DETALLES] CHECK CONSTRAINT [tblCARRITO_tblCARRITO_DETALLES_ID_FK]
GO
ALTER TABLE [dbo].[TPV.tblPRODUCTOS]  WITH CHECK ADD  CONSTRAINT [tblCATEGORIA_tblPRODUCTOS_FK] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[TPV.tblCATEGORIA] ([id])
GO
ALTER TABLE [dbo].[TPV.tblPRODUCTOS] CHECK CONSTRAINT [tblCATEGORIA_tblPRODUCTOS_FK]
GO
ALTER TABLE [dbo].[TPV.tblPRODUCTOS]  WITH CHECK ADD  CONSTRAINT [tblPRESENTACION_tblPRODUCTOS_FK] FOREIGN KEY([idPresentacion])
REFERENCES [dbo].[TPV.tblPRESENTACION] ([id])
GO
ALTER TABLE [dbo].[TPV.tblPRODUCTOS] CHECK CONSTRAINT [tblPRESENTACION_tblPRODUCTOS_FK]
GO
ALTER TABLE [dbo].[TPV.tblUSUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_tblLOGIN_tblUSUARIOS_ID] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[TPV.tblLOGIN] ([id])
GO
ALTER TABLE [dbo].[TPV.tblUSUARIOS] CHECK CONSTRAINT [FK_tblLOGIN_tblUSUARIOS_ID]
GO
ALTER TABLE [dbo].[TPV.tblVENTAS]  WITH CHECK ADD  CONSTRAINT [FK_tblLOGIN_tblVENTAS] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[TPV.tblLOGIN] ([id])
GO
ALTER TABLE [dbo].[TPV.tblVENTAS] CHECK CONSTRAINT [FK_tblLOGIN_tblVENTAS]
GO
ALTER TABLE [dbo].[TPV.tblVENTAS_DETALLES]  WITH CHECK ADD  CONSTRAINT [tblPRESENTACION_tblVENTAS_DETALLES_FK] FOREIGN KEY([presentacionId])
REFERENCES [dbo].[TPV.tblPRESENTACION] ([id])
GO
ALTER TABLE [dbo].[TPV.tblVENTAS_DETALLES] CHECK CONSTRAINT [tblPRESENTACION_tblVENTAS_DETALLES_FK]
GO
ALTER TABLE [dbo].[TPV.tblVENTAS_DETALLES]  WITH CHECK ADD  CONSTRAINT [tblPRODUCTOS_tblVENTAS_DETALLES_FK] FOREIGN KEY([productoId])
REFERENCES [dbo].[TPV.tblPRODUCTOS] ([id])
GO
ALTER TABLE [dbo].[TPV.tblVENTAS_DETALLES] CHECK CONSTRAINT [tblPRODUCTOS_tblVENTAS_DETALLES_FK]
GO
ALTER TABLE [dbo].[TPV.tblVENTAS_DETALLES]  WITH CHECK ADD  CONSTRAINT [tblVENTAS_tblVENTAS_DETALLES_FK] FOREIGN KEY([id])
REFERENCES [dbo].[TPV.tblVENTAS] ([id])
GO
ALTER TABLE [dbo].[TPV.tblVENTAS_DETALLES] CHECK CONSTRAINT [tblVENTAS_tblVENTAS_DETALLES_FK]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_CATEGORIA]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--U = ACTTUALIZAR CATEGORÍA #COMPLETADO#
CREATE PROC [dbo].[SP_ACTUALIZAR_CATEGORIA]
@ID INT,
@NUEVO VARCHAR(50)
AS
BEGIN
	UPDATE [TPV.tblCATEGORIA] SET nombre = @NUEVO WHERE id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_PRESENTACION]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--U = ACTUALIZAR PRESENTACION
CREATE PROC [dbo].[SP_ACTUALIZAR_PRESENTACION]
@ID INT,
@NUEVO VARCHAR(50)
AS
BEGIN
	UPDATE [TPV.tblPRESENTACION] SET nombre = @NUEVO WHERE id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_PRODUCTO]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--U = ACTUALIZAR PRODUCTO
CREATE PROC [dbo].[SP_ACTUALIZAR_PRODUCTO]
@SKU INT,
@NOMBRE VARCHAR(50),
@DESCRIPCION_CORTA VARCHAR(50),
@DESCRIPCION_LARGA VARCHAR(500),
@CATEGORIA VARCHAR(50),
@PRECIO DECIMAL(10,2),
@PRESENTACION VARCHAR(50),
@CANTIDAD INT
AS
BEGIN
	DECLARE @ID INT
	DECLARE @IDCATEGORIA INT
	DECLARE @IDPRESENTACION INT
	SET @ID = (SELECT id FROM [TPV.tblPRODUCTOS]  WHERE SKU = @SKU)
	SET @IDCATEGORIA = (SELECT id FROM [TPV.tblCATEGORIA] WHERE nombre = @CATEGORIA)
	SET @IDPRESENTACION = (SELECT id FROM [TPV.tblPRESENTACION] WHERE nombre = @PRESENTACION)
	UPDATE [TPV.tblPRODUCTOS] SET SKU=@SKU, Nombre=@NOMBRE, Descripcion_Corta=@DESCRIPCION_CORTA, Descripcion_Larga=@DESCRIPCION_LARGA, idCategoria=@IDCATEGORIA, Precio=@PRECIO, idPresentacion=@IDPRESENTACION, Cantidad=@CANTIDAD WHERE id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_USUARIO]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--U = ACTUALIZAR USUARIO
CREATE PROC [dbo].[SP_ACTUALIZAR_USUARIO]
@USUARIO VARCHAR(50),
@PASSWORD VARCHAR(50),
@NIVEL INT,
@PNOMBRE VARCHAR(50),
@SNOMBRE VARCHAR(50),
@PAPELLIDO VARCHAR(50),
@SAPELLIDO VARCHAR(50),
@DIRECCION1 VARCHAR(100),
@DIRECCION2 VARCHAR(100),
@MUNICIPIO VARCHAR(50),
@CIUDAD VARCHAR(50),
@ESTADO VARCHAR(50),
@CODIGO_POSTAL INT,
@ID INT
AS
BEGIN
	IF EXISTS (SELECT @USUARIO FROM [TPV.tblLOGIN] WHERE USUARIOID=@USUARIO)
	BEGIN
		SET @ID = (SELECT id FROM [TPV.tblLOGIN] WHERE UsuarioID = @USUARIO)
		UPDATE [TPV.tblLOGIN] SET UsuarioID = @USUARIO, UsuarioPass = @PASSWORD, NivelAcceso = @NIVEL WHERE id = @ID
		UPDATE [TPV.tblUSUARIOS] SET pnombre = @PNOMBRE, snombre = @SNOMBRE, papellido = @PAPELLIDO, sapellido  = @SAPELLIDO, direccion1 = @DIRECCION1, direccion2 = @DIRECCION2, municipio = @MUNICIPIO, ciudad = @CIUDAD, estado = @ESTADO, codigo_postal = @CODIGO_POSTAL WHERE idUsuario = @ID
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AGREGAR_CARRITO]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------------------------------------------------------------------------
/*-
 CREACIÓN DE PROCESOS ALMACENADOS (STORED PROCEDURES) PARA LA BASE DE DATOS
 LOS PROCEDIMIENTOS MANIPULAN LA INFORACIÓN DE LA BASE DE DATOS PARA SU UTILIZACIÓN EN LA APLICACIÓN
 */
/********************************************PROCEDIMIENTO CRUD PARA CARRITOS***************************************************/
/*
 PROCEDIMIENTOS ALMACENADOS PARA EL MANEJO DE CARRITOS EN LA APLICACIÓN DE TERMINAL PUNTO DE VENTAS
 */
--C = CREAR CARRITO
CREATE PROC [dbo].[SP_AGREGAR_CARRITO]
AS
BEGIN
	DECLARE @ID INT
	DECLARE @TIMESTAMP DATETIME
	SET @TIMESTAMP = CURRENT_TIMESTAMP
	INSERT INTO [TPV.tblCARRITO] (Creado) VALUES (@TIMESTAMP)
	SET @ID = SCOPE_IDENTITY()
	SELECT * FROM [TPV.tblCARRITO] WHERE id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AGREGAR_CATEGORIA]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************************************************************/

/************************************************PROCEDIMIENTOS CRUD PARA CATEGORÍA*********************************************/
/*
 PROCEDIMIENTOS ALMACENADOS PARA EL MANEJO DE CATEGORÍAS EN LA APLICACIÓN DE TERMINAL PUNTO DE VENTAS
 */
--C = CREAR CATEGORÍA
CREATE PROC [dbo].[SP_AGREGAR_CATEGORIA]
@NOMBRE VARCHAR(50)
AS
BEGIN
	DECLARE @ID INT
	IF NOT EXISTS (SELECT @NOMBRE FROM [TPV.tblCATEGORIA] WHERE NOMBRE=@NOMBRE)
	BEGIN
		INSERT INTO [TPV.tblCATEGORIA] (NOMBRE) VALUES (@NOMBRE)
		SET @ID = SCOPE_IDENTITY()
		SELECT * FROM [TPV.tblCATEGORIA] WHERE id = @ID
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AGREGAR_PRESENTACION]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************************************************************/
/***************************************PROCEDIMIENTO CRUD PARA PRESENTACIONES**************************************************/
/*
 PROCEDIMIENTOS ALMACENADOS PARA EL MANEJO DE PRESENTACIONES EN LA APLICACIÓN DE TERMINAL PUNTO DE VENTAS
 */
--C = CREAR PRESENTACION
CREATE PROC [dbo].[SP_AGREGAR_PRESENTACION]
@NOMBRE VARCHAR(50)
AS
BEGIN
	DECLARE @ID  INT
	INSERT INTO [TPV.tblPRESENTACION] (nombre) VALUES (@NOMBRE)
	SET @ID = SCOPE_IDENTITY()
	SELECT * FROM [TPV.tblPRESENTACION] WHERE id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AGREGAR_PRODUCTO]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************************************************************/
/******************************************PROCEDIMIENTO CRUD PARA PRODUCTOS****************************************************/
/*
 PROCEDIMIENTOS ALMACENADOS PARA EL MANEJO DE PRODUCTOS EN LA APLICACIÓN DE TERMINAL PUNTO DE VENTAS
 */
--C = CREAR PRODUCTO
CREATE PROC [dbo].[SP_AGREGAR_PRODUCTO]
@SKU INT,
@NOMBRE VARCHAR(50),
@DESCRIPCION_CORTA VARCHAR(50),
@DESCRIPCION_LARGA VARCHAR(500),
@CATEGORIA VARCHAR(50),
@PRECIO DECIMAL(10,2),
@PRESENTACION VARCHAR(50),
@CANTIDAD INT
AS
BEGIN
	DECLARE @ID INT
	DECLARE @IDCATEGORIA INT
	DECLARE @IDPRESENTACION INT
	IF (SELECT id FROM [TPV.tblCATEGORIA] WHERE nombre = @CATEGORIA) = NULL
		EXEC SP_AGREGAR_CATEGORIA @CATEGORIA
	SET @IDCATEGORIA = (SELECT id FROM [TPV.tblCATEGORIA] WHERE nombre = @CATEGORIA)
	IF (SELECT id FROM [TPV.tblCATEGORIA] WHERE nombre = @CATEGORIA) = NULL
		EXEC SP_AGREGAR_PRESENTACION @PRESENTACION
	SET @IDPRESENTACION = (SELECT id FROM [TPV.tblPRESENTACION] WHERE nombre = @PRESENTACION)
	INSERT INTO [TPV.tblPRODUCTOS] (SKU, Nombre, Descripcion_Corta, Descripcion_Larga, idCategoria, Precio, idPresentacion, Cantidad) VALUES (@SKU, @NOMBRE, @DESCRIPCION_CORTA, @DESCRIPCION_LARGA, @IDCATEGORIA, @PRECIO, @IDPRESENTACION, @CANTIDAD)
	SET @ID = SCOPE_IDENTITY()
	SELECT * FROM [TPV.tblPRODUCTOS] WHERE id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AGREGAR_USUARIO]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************************************************************/
/******************************************PROCEDIMIENTO CRUD PARA USUARIOS*****************************************************/
/*
 PROCEDIMIENTOS ALMACENADOS PARA EL MANEJO DE USUARIOS EN LA APLICACIÓN DE TERMINAL PUNTO DE VENTAS
 */
--C = CREAR USUARIO #COMPLETADO#
CREATE PROC [dbo].[SP_AGREGAR_USUARIO]
@USUARIO VARCHAR(50),
@PASSWORD VARCHAR(50),
@NIVELACCESO INT,
@PNOMBRE VARCHAR(50),
@SNOMBRE VARCHAR(50),
@PAPELLIDO VARCHAR(50),
@SAPELLIDO VARCHAR(50),
@DIRECCION1 VARCHAR(100),
@DIRECCION2 VARCHAR(100),
@MUNICIPIO VARCHAR(50),
@CIUDAD VARCHAR(50),
@ESTADO VARCHAR(50),
@CODIGO_POSTAL INT
AS
BEGIN
	DECLARE @ID INT
	IF NOT EXISTS (SELECT @USUARIO FROM [TPV.tblLOGIN] WHERE USUARIOID=@USUARIO)
	BEGIN
		INSERT INTO [TPV.tblLOGIN] (UsuarioID, UsuarioPass, NivelAcceso) VALUES (@USUARIO, @PASSWORD, @NIVELACCESO)
		SET @ID = SCOPE_IDENTITY()
		INSERT INTO [TPV.tblUSUARIOS] (idUsuario, pnombre, snombre, papellido, sapellido, direccion1, direccion2, municipio, ciudad, estado, codigo_postal)  VALUES (@ID, @PNOMBRE, @SNOMBRE, @PAPELLIDO, @SAPELLIDO, @DIRECCION1, @DIRECCION2, @MUNICIPIO, @CIUDAD, @ESTADO, @CODIGO_POSTAL)
		SELECT * FROM [TPV.tblUSUARIOS] WHERE id = @ID
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AGREGAR_VENTA]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************************************************************/
/******************************************PROCEDIMIENTO CRUD PARA VENTAS*******************************************************/
/*
 PROCEDIMIENTOS ALMACENADOS PARA EL MANEJO DE VENTAS EN LA APLICACIÓN DE TERMINAL PUNTO DE VENTAS
 */
--C = CREAR VENTA
CREATE PROC [dbo].[SP_AGREGAR_VENTA]
@USUARIO VARCHAR(50),
@CANTIDAD DECIMAL(10,2)
AS
BEGIN
	DECLARE @ID INT
	DECLARE @IDUSUARIO INT
	DECLARE @FECHA DATETIME
	SET @IDUSUARIO = (SELECT id FROM [TPV.tblLOGIN] WHERE UsuarioID = @USUARIO)
	SET @FECHA = CURRENT_TIMESTAMP
	INSERT INTO [TPV.tblVENTAS] (idUsuario, fecha, cantidad) VALUES (@IDUSUARIO, @FECHA, @CANTIDAD)
	SET @ID = SCOPE_IDENTITY()
	SELECT id FROM [TPV.tblVENTAS] WHERE id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AGREGAR_VENTAS_DETALLES]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************************************************************/
/**************************************PROCEDIMIENTO CRUD PARA VENTAS_DETALLES**************************************************/
/*
 PROCEDIMIENTOS ALMACENADOS PARA EL MANEJO DE DETALLES DE VENTAS EN LA APLICACIÓN DE TERMINAL PUNTO DE VENTAS
 */
--C = CREAR DETALLES DE VENTA
CREATE PROC [dbo].[SP_AGREGAR_VENTAS_DETALLES]
@IDVENTA INT,
@PRODUCTO VARCHAR(50),
@PRESENTACION VARCHAR(50),
@CANTIDAD INT
AS
BEGIN
	DECLARE @ID INT
	DECLARE @FECHA DATETIME
	SET @FECHA = CURRENT_TIMESTAMP
	DECLARE @IDPRESENTACION INT
	SET @IDPRESENTACION = (SELECT id FROM [TPV.tblPRESENTACION] WHERE nombre = @PRESENTACION)
	DECLARE @IDPRODUCTO INT
	SET @IDPRODUCTO = (SELECT id FROM [TPV.tblPRODUCTOS] WHERE Nombre = @PRODUCTO AND idPresentacion=@IDPRESENTACION)
	INSERT INTO [TPV.tblVENTAS_DETALLES] (id, fecha, productoId, presentacionId, cantidad) VALUES (@IDVENTA, @FECHA, @IDPRODUCTO, @IDPRESENTACION,  @CANTIDAD)
	SELECT * FROM [TPV.tblVENTAS_DETALLES] WHERE id = @IDVENTA
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BORRAR_CARRITO]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--D = BORRAR CARRITO
CREATE PROC [dbo].[SP_BORRAR_CARRITO]
@ID INT
AS
BEGIN
	DELETE FROM [TPV.tblCARRITO] WHERE id=@ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BORRAR_CATEGORIA]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--D = BORRAR CATEGORÍA
CREATE PROC [dbo].[SP_BORRAR_CATEGORIA]
@ID INT
AS
BEGIN
	DELETE FROM [TPV.tblCATEGORIA] WHERE id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BORRAR_PRESENTACION]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--D = BORRAR PRESENTACION
CREATE PROC [dbo].[SP_BORRAR_PRESENTACION]
@NOMBRE VARCHAR(50)
AS
BEGIN
	DELETE FROM [TPV.tblPRESENTACION] WHERE nombre = @NOMBRE
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BORRAR_PRODUCTO]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--D = BORRAR PRODUCTO
CREATE PROC [dbo].[SP_BORRAR_PRODUCTO]
@SKU INT
AS
BEGIN
	DELETE FROM [TPV.tblPRODUCTOS] WHERE SKU=@SKU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BORRAR_USUARIO]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--D = BORRAR USUARIO
CREATE PROC [dbo].[SP_BORRAR_USUARIO]
@USUARIO VARCHAR(50)
AS
BEGIN
	DECLARE @ID INT
	SET @ID = (SELECT id FROM TPV.DBO.[TPV.tblLOGIN] WHERE UsuarioID = @USUARIO)
	DELETE FROM [TPV.tblUSUARIOS] WHERE idUsuario = @ID
	DELETE FROM [TPV.tblLOGIN] WHERE id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CREAR_CARRITO_DETALLES]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************************************************************/
/**************************************PROCEDIMIENTO CRUD PARA CARRITO_DETALLES*************************************************/
/*
 PROCEDIMIENTOS ALMACENADOS PARA EL MANEJO DE DETALLES DE CARRITOS EN LA APLICACIÓN DE TERMINAL PUNTO DE VENTAS
 */
--C = CREAR DETALLES DE CARRITO
CREATE PROC [dbo].[SP_CREAR_CARRITO_DETALLES]
@IDCARRITO INT,
@PRODUCTO VARCHAR(50)
AS
BEGIN
	DECLARE @ID INT
	DECLARE @IDPRODUCTO INT
	SET @IDPRODUCTO = (SELECT id FROM [TPV.tblPRODUCTOS] WHERE Nombre = @PRODUCTO)
	INSERT INTO [TPV.tblCARRITO_DETALLES] (id, ProdId) VALUES (@IDCARRITO, @IDPRODUCTO)
	SET @ID = SCOPE_IDENTITY()
	SELECT * FROM [TPV.tblCARRITO_DETALLES] WHERE id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INGRESAR_APP]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************************************************************/
--LOGIN #COMPLETADO#
CREATE PROC [dbo].[SP_INGRESAR_APP]
@Usuario VARCHAR(50),
@Contrasena VARCHAR(50)
AS
BEGIN
	DECLARE @ID INT
	IF EXISTS (SELECT id FROM dbo.[TPV.tblLOGIN] WHERE UsuarioID=@Usuario AND UsuarioPass=@Contrasena)
	BEGIN
		SET @ID = (SELECT id FROM dbo.[TPV.tblLOGIN] WHERE UsuarioID=@Usuario)
		SELECT * FROM [TPV.tblLOGIN] WHERE id = @ID
		SELECT * FROM [TPV.tblUSUARIOS] WHERE id = @ID
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LEER_CARRITO]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--R = LEER CARRITO
CREATE PROC [dbo].[SP_LEER_CARRITO]
@ID INT
AS
BEGIN
	SELECT * FROM [TPV.tblCARRITO] WHERE id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LEER_CARRITO_DETALLES]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--R = LEER DETALLES DE CARRITO
CREATE PROC [dbo].[SP_LEER_CARRITO_DETALLES]
@ID INT
AS
BEGIN
	SELECT * FROM [TPV.tblCARRITO_DETALLES] WHERE id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LEER_CATEGORIA]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--R = LEER CATEGORÍAS
CREATE PROC [dbo].[SP_LEER_CATEGORIA]
AS
BEGIN
	SELECT * FROM [TPV.tblCATEGORIA]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LEER_PRESENTACION]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--R = LEER PRESENTACION
CREATE PROC [dbo].[SP_LEER_PRESENTACION]
@NOMBRE VARCHAR(50)
AS
BEGIN
	SELECT * FROM [TPV.tblPRESENTACION] WHERE nombre LIKE '%'+@NOMBRE+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LEER_PRODUCTO]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--R = LEER PRODUCTO
CREATE PROC [dbo].[SP_LEER_PRODUCTO]
@NOMBRE VARCHAR(50)
AS
BEGIN
	SELECT * FROM [TPV.tblPRODUCTOS] WHERE Nombre LIKE '%'+@NOMBRE+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LEER_USUARIO]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--R = LEER USUARIO
CREATE PROC [dbo].[SP_LEER_USUARIO]
@USUARIO VARCHAR(50)
AS
BEGIN
	DECLARE @ID INT
	SET @ID = (SELECT id FROM TPV.dbo.[TPV.tblLOGIN] WHERE UsuarioID=@USUARIO)
	SELECT * FROM TPV.DBO.[TPV.tblUSUARIOS] WHERE idUsuario = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LEER_VENTA_DETALLES]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--R = LEER DETALLES DE VENTA
CREATE PROC [dbo].[SP_LEER_VENTA_DETALLES]
@ID INT
AS
BEGIN
	SELECT * FROM [TPV.tblVENTAS_DETALLES] WHERE id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LEER_VENTAS]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--R = LEER VENTA
CREATE PROC [dbo].[SP_LEER_VENTAS]
AS
BEGIN
	SELECT * FROM [TPV.tblVENTAS]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TODAS_CATEGORIAS]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TODAS LAS CATEGORIAS
CREATE PROC [dbo].[SP_TODAS_CATEGORIAS]
AS
BEGIN
	SELECT * FROM [TPV.tblCATEGORIA]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TODAS_PRESENTACIONES]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TODAS LAS PRESENTACIONES
CREATE PROC [dbo].[SP_TODAS_PRESENTACIONES]
AS
BEGIN
	SELECT * FROM [TPV.tblPRESENTACION]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TODAS_VENTAS]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TODAS LAS VENTAS
CREATE PROC [dbo].[SP_TODAS_VENTAS]
AS
BEGIN
	SELECT * FROM [TPV.tblVENTAS]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TODAS_VENTAS_DETALLES]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TODAS LAS DETALLES DE VENTA
CREATE PROC [dbo].[SP_TODAS_VENTAS_DETALLES]
AS
BEGIN
	SELECT * FROM [TPV.tblVENTAS_DETALLES]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TODOS_CARRITOS]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TODOS LOS CARRITOS
CREATE PROC [dbo].[SP_TODOS_CARRITOS]
AS
BEGIN
	SELECT * FROM [TPV.tblCARRITO]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TODOS_CARRITOS_DETALLES]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TODAS LAS DETALLES DE CARRITO
CREATE PROC [dbo].[SP_TODOS_CARRITOS_DETALLES]
AS
BEGIN
	SELECT * FROM [TPV.tblCARRITO_DETALLES]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TODOS_PRODUCTOS]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TODOS LOS PRODUCTOS
CREATE PROC [dbo].[SP_TODOS_PRODUCTOS]
AS
BEGIN
	SELECT        dbo.[TPV.tblPRODUCTOS].id AS ID, dbo.[TPV.tblPRODUCTOS].SKU as SKU, dbo.[TPV.tblPRODUCTOS].Nombre AS Producto, dbo.[TPV.tblPRESENTACION].nombre AS Presentación, dbo.[TPV.tblCATEGORIA].nombre as Categoría, 
                         dbo.[TPV.tblPRODUCTOS].Descripcion_Corta as 'Descripción Corta', dbo.[TPV.tblPRODUCTOS].Descripcion_Larga as 'Descrípción Larga', dbo.[TPV.tblPRODUCTOS].Precio as Precio
FROM            dbo.[TPV.tblCATEGORIA] INNER JOIN
                         dbo.[TPV.tblPRODUCTOS] ON dbo.[TPV.tblCATEGORIA].id = dbo.[TPV.tblPRODUCTOS].idCategoria INNER JOIN
                         dbo.[TPV.tblPRESENTACION] ON dbo.[TPV.tblPRODUCTOS].idPresentacion = dbo.[TPV.tblPRESENTACION].id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TODOS_USUARIOS]    Script Date: 11/10/2017 12:31:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TODOS LOS USUARIOS
CREATE PROC [dbo].[SP_TODOS_USUARIOS]
AS
BEGIN
	SELECT * FROM [TPV.tblUSUARIOS]
END
GO
USE [master]
GO
